/* Your CSS code goes in this file. */

body { font-family: "Arial";
       width: 960px;
       margin: 20px auto;
}

h1 { font-family: "Arial"; color: black; font-size: 28px; }
h2 { font-family: "Arial"; color: black; font-size: 22px; font-style: strong; }
h3 { font-family: "Arial"; color: black; font-size: 16px; text-decoration: underline;}

/* padding is the inside the border spacing */

h2 {border-bottom: solid 5px powderblue; }
/* the above creates a border and you need to specify additional info */

div { border: solid 5px gray;
      padding: 20px;
}
/* we link to this stylesheet via the html file */

.important {background-color: yellow; }

div {
  border: solid 5px white;
  padding: 20px;
  max-width: 90%;
}

span {
  /*display: inline-block;
  max-width: 30%;*/
}

p {
  font-family: "Arial";
  border: solid 2px black;
  padding: 10px;
  max-width: 90%;
}

img {
  max-width: 80%
}

/* sometimes need quotation marks to understand terms as 1 word. Ex "helvetica neue" */
/* order only matters if you do not specify the term */
/* semi colons matter! especially if you want another element in one bracket */
/* 960 width is somehow important because its easily divisible by other numbers */
/* margin can be specified by starting with top value and going clockwise or specifying top-margin, etc */
/* margin for only two values is applied to top and bottom, very confusing.
can put in word "auto" to apply left and right and automatically center the image */
