/* Your CSS code goes in this file. */

h1 {border-bottom: solid 10px powderblue; }
/* the above creates a border, need to specify additional info */


body { font-family: "Verdana";
       width: 960px;
       margin: 10px auto;
}

  h1 { font-family: "Verdana"; color: black; font-size: 26px; font-weight: bold;}
  h2 { font-family: "Verdana"; color: black; font-size: 20px; font-style: italic;}
  h3 { font-family: "Verdana"; color: black; font-size: .875em; font-style: normal;}


  body {
     font-family: "Verdana";
     width: 960px;
     margin: 10px auto;
  }

  div {
    max-width: 85%;
    border: solid 5px powderblue;
    padding: 10px;
    }
/* padding is the inside the border spacing */

p {
  font-family: "Verdana";
  border: solid 5px powderblue;
  padding: 10px;
  max-width: 85%;
}

img {
  max-width: 85%
}

<LINK rel="stylesheet" type="text/css"
     href="styles.css" title="Default Styles" media="screen">

/* sometimes need quotation marks to understand terms as 1 word. Ex "helvetica neue" */
/* order only matters if you do not specify the term */
/* semi colons matter! especially if you want another element in one bracket */
/* 960 width is somehow important because its easily divisible by other numbers */
/* margin can be specified by starting with top value and going clockwise or specifying top-margin, etc */
/* margin for only two values is applied to top and bottom, very confusing.
can put in word "auto" to apply left and right and automatically center the image */
